<h3> <%=@game.offender.name%> clocking in to kick some a$$ </h3>
<h3> <%=@game.defender.name%> back in the game for some major love </h3>

<%=@game.offender.name%>: <%=@game.offender.hp%> HP
<h>
</h>
<%=@game.defender.name%>: <%=@game.defender.hp%> HP

<form action="/attack">
  <input type='submit' value="Attack">
</form>
